body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

div{
    display:block;
}
.sticky-header{
    background-color: dodgerblue;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    z-index: 99;
}

.sticky-header .container{
    position: relative;
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
    padding-top: 10px;

}

.header-nav{
    padding-top: 30px;
}

.container>*{
    display: inline-block;
}

.header-nav ul{
    float:left;
    margin: 0;
}
.header-nav li{
    list-style: none;
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px 0 20px;
    color: white;
}

a{
    text-decoration: none;
}

a:visited{
    color:white;
}

#name {
    padding: 0 20px 0 20px;
}

#name img{
    height:50px;
}
.main {
    position: relative;
    padding-top: 100px;
    min-width: 900px;
    max-width: 1100px;
    margin:auto;
    background-color: #cbe6f5;
}

.main p{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    color:#333333;
}
h1 {
    font-size: 48px;
    font-weight: 200;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333333;
    margin:0;
}
h2 {
    font-size: 36px;
    font-weight: 400;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:20px;
    color: #555555;
}

.three-panel{
    display:inline-block;
    width: 100%;

}

.panel-container{
    display:inline-block;
    width:33%;
    vertical-align: middle;

}
.panel{
    margin:20px;
    padding:10px;
    border-radius:30px;
    background-color: white;
}

.panel p{
    text-align: center;
}

#pitch{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 100;
    padding:20px;
    display:inline-block;
}

.canvas_display>canvas{
    display:block;
    background-color: #4f4f4f;
    width:100%;
    height:200px;
    margin:auto;
}

.canvas_display{
    display:block;
    background-color: grey;
    padding: 10px;
}


.sticky-right{
    float: right;
    padding: 0 40px 0 0;
    height:22px;
}

.debug_info{
    background-color: #393939;
}
.debug_info ul{
    margin: 0;
}
.debug_info li{
    list-style: none;
    display:inline;
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px 0 20px;
    color: white;
}

#displays{
    display: block;
    width:100%;
}


#main_exercise{
    background-color: white;
    margin:auto;
    border-radius:25px;
    width:70%;
}
.container{
    border: 1px grey;
    overflow: auto;
}
#exercise{
    display: block;
    width:100%;
    vertical-align: top;
}

#playbutton{
    display:inline-block;
    background-color: white;
    width:100%;
    height:200px;
    margin:10px 0 10px 0;
    padding:10px;
}

#recordbutton{
    display:inline-block;
    background-color: white;
    width:100%;
    height:200px;
    margin:10px 0 10px 0;
    padding:10px;
    padding-right:0;

}

#interval>div{
    vertical-align: top;
    display:inline-block;
    text-align: center;
}

#vexflow_container{
    height:100%;
    width:40%;
}

#interval_text_container{
    height:100%;
    width:60%;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -138px;
}

#help-menu{
    background-color: #cbe6f5;
    width:500px;
    padding:50px;
    margin:auto;
    margin-top:200px;
}

#help{
    display:none;
}


#buttons{
    margin:10px;
}

.button-container{
    display:inline-block;
    width:50%;
    background-color:#cbe6f5;
}

#debug{
    background-color: #dd9999;
    padding:20px;
    position: fixed;
    right: 10px;
    top: 100px;
}

#debug input{
    display:block;
    padding:10px;
    margin:auto;
    margin-top: 5px;
    margin-bottom:10px;
}

#debug h2{
    padding:0;
    margin:0;
}

#debug hr{
    border: none;
    background-color: #888888;
    margin: 20px;
    height: 1px;

}

.exercise{
    margin:0;
    margin-left:20px;
    margin-right:20px;
    text-align:left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rounded-square{
    width: 70%;
    margin:auto;
    background-color: white;
    border-radius: 20px;

}

.main>p{
    font-weight:300; font-size: 24px; padding:20px 200px 20px 200px
}

#spacer{
    text-align: center;
}

#spacer form{
    padding:70px;
}

#spacer>*{
    display:block;
}

.row>*{
    display:inline;
}

.top-right{
    position:absolute;
    top:100px;
    right:0;
    margin:0;
    margin-right:20px;
    line-height:58px;
}

.top-right:hover{
    color: white;
}
