body{
    color: #2B2B2B;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    background-color: hsla(210,100%,68%,1);
    padding:0;
    padding-top: 100px;
}

div{
    display:block;
}
.sticky-header{
    background-color: rgb(30, 144, 255);
    position: fixed;
    width: 100%;
    top: 0;
    height: 82px;
    z-index: 99;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
    border-top: 13px #217CD4 solid;
}

.sticky-header .container{
    position: relative;
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
    padding-top: 23px;
    box-sizing: border-box;
    display: block;
    overflow: visible;
}


.header-nav{
    color: white;
    text-shadow: 0 0 2px white;
    display: inline-block;
    vertical-align: bottom;
}

.container a{
    color:inherit
}
.header-nav ul{
    float:left;
    margin: 0;
}
.header-nav li{
    list-style: none;
    float: left;
    font-size: 20px;
    font-weight: 500;
    padding: 0 20px 0 20px;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

#name {
    padding: 0 20px 0 20px;
    display: inline-block;
}

#name a{
    display:block;
}

#name img{
    height: 33px;
}


main{
    position: relative;
    width:100%;
    margin:auto;
}

.slide {
    width:100%;
    min-height: 700px;
    margin:auto;
    position: relative;
    color: white;
}

.spacer-50px{
  height:50px;
  display:block;
}

.spacer-200px{
  height:200px;
  display:block;
}
article p {
    font-weight: 100;
    font-size: 20px;
    margin:0.5em 0;
    padding-left:10px;
}

#right-text{
    position: relative;
    padding-top: 100px;
    box-sizing: border-box;
    max-width: 818px;
    margin: auto;
}



#container {
    position: relative;
    /* top: 120px; */
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    min-width: 900px;
    box-sizing: border-box;
    max-width: 818px;
    margin:auto;
    background-color: #97DAFF;
    /* box-shadow: 0px 0px 1px 2px rgba(44, 67, 90, 0.66); */
    border-radius: 10px;
}


#left-graphic {
  position: absolute;
  height: 892px;
  width: 459px;
  left: -50px;
  background-image: url("/static/assets/images/treble-clef3.svg");
  display: inline;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: invert() sepia() saturate(1270%) brightness(57%) hue-rotate(147deg);
}

.subtitle{

top: -19px;

text-align: center;

font-weight: 200;

font-size: 20px;

font-style: italic;

text-shadow: 0px 0px 1px #FFFFFF;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #FFFFFF;
    margin: 20px;
    letter-spacing: -2px;
}
h2 {
    font-size: 23px;
    font-weight: 400;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:20px;
    color: #C7C7C7;
}

h3 {
  font-weight: 600;
  font-size: 23px;
  background-color: hsla(208,64%,56%,1);
  padding-left: 10px;
  text-shadow: 0 0 1px white;
  margin:40px 0 0 0;
}

h4 {
  text-transform: uppercase;
  color: #C7C7C7;
  letter-spacing: 4px;
}

.three-panel{
    display:inline-block;
    width: 100%;

}

.panel-container{
    display:inline-block;
    width:33%;
    vertical-align: middle;

}
.panel{
    margin:20px;
    padding: 35px;
    border-radius:30px;
    background-color: #E5E8EA;
    height: 200px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color:#333333;
}

}
.panel p{
    text-align: center;
}

#pitch{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 100;
    padding:20px;
    display:inline-block;
}

.canvas_display>canvas{
    display:block;
    background-color: #4f4f4f;
    width:100%;
    height:200px;
    margin:auto;
}

.canvas_display{
    display:block;
    background-color: grey;
    padding: 10px;
}


.sticky-right{
    display: inline-block;
    right: 0;
    position: absolute;
    padding: 5px 40px 0 0;
    font-size: 15px;
}

.sticky-right a{
    padding-left:20px;
}

.debug_info{
    background-color: #393939;
}
.debug_info ul{
    margin: 0;
}
.debug_info li{
    list-style: none;
    display:inline;
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px 0 20px;
    color: white;
}

#displays{
    display: block;
    width:100%;
}


#main_exercise{
    background-color: white;
    margin:auto;
    border-radius:25px;
    width:70%;
    position: relative;
}
.container{
    border: 1px grey;
    overflow: auto;
}
#exercise{
    display: block;
    width:100%;
    /* vertical-align: top; */
}

#exercise .half{
  display: inline-block;
  box-sizing: border-box;
}

span.note-display{
  display: inline-block;
  font-weight: bold;
  font-size: 67px;
  color: #AEC8E2;
}



#playbutton, #recordbutton{
    display: inline-block;
    background-color: white;
    margin:10px 0 10px 0;
    padding:10px;
    vertical-align: sub;
    top: -1px;
    position: relative;
}

#playbutton img{
    height: 40px;
    width: 40px;
    -webkit-filter: saturate(20%) brightness(120%);
}


#recordbutton img{
    height: 60px;
    width:60px;
}

#playbutton img:hover, #recordbutton img:hover {
    -webkit-filter: saturate(30%) brightness(100%);
    cursor: pointer;
}

audio {
  display:block;
}

#interval>div{
    vertical-align: top;
    display: block;
    text-align: center;
    position: relative;
}

#interval {
  width:400px;
  border-right-width: 2px;
  border-right-style: inset;
}

#note_names{
  padding-left:50px;
}

#interval_text_container{
  width:100%;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 60;
}


#midi-loading{
    background-color:dodgerblue;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -138px;
    color:white;
    text-shadow: 0px 0px 2px white;

}

#help-menu{
    background-color: hsla(210,100%,68%,1);
    color: white;
    width:500px;
    padding:50px;
    margin:auto;
    margin-top:200px;
    box-shadow: 0px 0px 64px 20px rgba(0, 0, 0, 0.31);
}

#help h4{
  color:white;
  text-align:center;

}

#help{
    display: none;
}



#debug{
    background-color: #dd9999;
    padding:20px;
    position: fixed;
    right: 10px;
    top: 100px;
}

#debug input{
    display:block;
    padding:10px;
    margin:auto;
    margin-top: 5px;
    margin-bottom:10px;
}

#debug h2{
    padding:0;
    margin:0;
}

#debug hr{
    border: none;
    background-color: #888888;
    margin: 20px;
    height: 1px;

}

.exercise-container{
    vertical-align:top;
    display:inline-block;
    width: 33.3%;
    background-color: white;
    border-radius: 30px;
    border-left: solid 10px#CBE6F5;
    border-right: solid 10px #CBE6F5;
    min-height: 200px;
    box-sizing: border-box;
}

.exercise-container h4{
  text-align:center;
}

.exercise{
    margin:0;
    background-color:initial;
    margin-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
}



.exercise.unreleased{
    color: #E6E6E6;
}

.exercise.unreleased:after{
    display: inline-block;
    margin-left: 20px;
    margin-top: -10px;
    width: 50px;
    text-align: center;
    font-family: "Roboto";
    content: "COMING SOON!";
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
    color: hsl(0, 100%, 50%);
}

.rounded-square{
    width: 70%;
    margin:auto;
    background-color: white;
    border-radius: 20px;

}



main>p{
    font-weight:300; font-size: 24px; padding:20px 200px 20px 200px
}

#spacer{
    text-align: center;
}

#spacer form{
    padding:70px;
}

#spacer>*{
    display:block;
}

.row>*{
    display:inline;
}

.top-right{
    cursor: pointer;
    position: absolute;
    right: 23px;
    margin:0;
    margin-right:20px;
    line-height:58px;
}

.top-right:hover{
    color: grey;
    cursor: target;
}
