{% extends "base.html" %}

{% block main %}
    <h1>Exercises</h1>
    <div id="container">
        <div class="exercise-container" id="intonation">
            <h4>Intonation</h4>
            <a href={% url "interval" %}><h3 class="exercise">Intervals 1</h2></a>
        </div><div class="exercise-container" id="melody">
            <h4>Melody</h4>
            <h3 class="exercise unreleased">Melody 1</h3>
        </div><div class="exercise-container" id="rhythm">
            <h4>Rhythm</h4>
            <h3 class="exercise unreleased">Rhythm 1</h3>
        </div>
        <h3 class="exercise unreleased">Harmonies</h3>
    </div>
{% endblock %}
