{% extends "base.html" %}

{% block title %}Rubato {% endblock %}

{% block main %}
    <div class="rounded-square">
    <h2>Rubato turns anyone into a musician!</h2>
    </div>
    <p>
    Rubato is a musicality tutor unlike any other. It's crafted to help you get the best out of yourself, no matter level of ability.
    So while one person can
    </p>
    <div class="three-panel">
        <div class="panel-container">
            <div class="panel"><p>Rubato aims to get the best out of every pupil, by adapting to your learning
                requirements, and training you in an engaging fashion using addictive exercises.
            </p></div>
        </div><div class="panel-container">
            <div class="panel"><p>We will improve your
                aural ability, as well as your sense of rhythm, and intonation, and Rubato will track your progress
                throughout your usage and focus on what you're weakest at.
            </p></div>
        </div><div class="panel-container">
            <div class="panel"><p>Rubato is interactive! You can sing at it, clap rhythms for it, and type for it.
            </p></div>
        </div>
    </div>
{% endblock %}