{% extends "base.html" %}

{% block title %}Rubato {% endblock %}


{% block main %}
    <div class="slide">
        <div id="left-graphic"></div>
        <div id="right-text">
            <h1>Music to your Ears.</h1>
            <span class="subtitle"><p>Take your ear training to the next level.</p></span>
            <div class="spacer-50px"></div>
            <article>
<!--                <h3>Why use Rubato</h3>-->

                <p>Rubato takes conventional aural tests such as interval recognition</span>,
                    and enhances them.</p>
                <p> It does this in <strong>two ways</strong>:</p>


                <div style="padding:20px 0 50px 200px">
                    <h3>Active Participation</h3>
                    <p>Training with Rubato is not a point and click exercise.</p>
                    <p>If you sing or clap for Rubato, its intelligent algorithms will assess your intonation/rhythmic performance
                        and give you feedback about how you could improve</p>
                    <h3>Adaptive Learning</h3>
                    <p>The more you use it, the better it can help you</p>
                    <p>As you train with Rubato, it learns about your strengths and weaknesses and can adapt the content of exercises accordingly.
                </div>

                <p>In combination, these two functions make a powerful, personalised ear trainer.
                    But don't just take our word for it, try it out and see what you think.</p>
            <div class="spacer-50px"></div>
            </article>

            </div>
        </div>
    <div/>
    <div class="slide" style="background-color:white">

{% endblock %}
