{% extends "base.html" %}

{% block title %}Rubato {% endblock %}

{% block main %}
    <h2>Rubato turns anyone into a musician!</h2>
    <div class="three-panel">
        <div id="panel1"><p>Rubato aims to get the best out of every pupil, by adapting to your learning
            requirements, and training you in an engaging fashion using addictive exercises.
        </p></div>
        <div id="panel2"><p>We will improve your
            aural ability, as well as your sense of rhythm, and intonation, and Rubato will track your progress
            throughout your usage and focus on what you're weakest at.</p>
        </div>
        <div id="panel3"><p>Rubato is interactive! You can sing at it, clap rhythms for it, and </p>
        </div>
    </div>
{% endblock %}